.header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 2em;
    margin-bottom: 2em;
}

.header__logo-link {
    display: flex;
    margin-left: .5em;
    color: #F85555;
    margin-left: 1em;
    font-size: 1em;
    font-weight: 700;
    padding: 14px 20px;
}


.header__list {
    display: flex;
    gap: 3em;
    margin-left: 300%;
}

.header__link {
    font-size: 1.3rem;
    margin-bottom: 2em;
}

.header__item {
    font-size: 2.5em;
}

.navbar nav .icon {
    flex-direction: inherit;
    margin-top: .5em;
    font-size: 1.5em;
    padding: 10px;
    margin: auto;
    left: auto;
    height: auto;
    right: auto;
    border: 1px solid rgb(213, 213, 213);
} 

